article {

    @include media($tablet) {
        margin: 0 $spacing__base;
    }
}

.article__header {
    margin-bottom: 1rem;
}

.article__title {
    font-size: 1.8rem;

    @include media($tablet) {
        font-size: 2.4rem;
    }
}

.article-img {
    display: block;
    margin: 0 auto $spacing__base;

    @include media($tablet) {
        max-width: 150%;
        margin-left: -20%;
    }
}

.article-img--featured {
    margin-top: $spacing__base;
    
    @include media($tablet) {
        margin-bottom: $spacing__base * 2;
    }
}

.byline {
    font-size: .75rem;
    margin-bottom: $spacing__base * 0.6;
}

.behind-the-story {
    margin: $spacing__base * 2 0;

    .behind-the-story__title {
        font-size: 1.4rem;
        border-bottom: 1px solid #bbb;
        margin-bottom: $spacing__base;
    }

    h3 {
        font-size: 1.15rem;
    }

}
